body {
  font-family: 'Inter', sans-serif;
  margin: 0;
}

p {
  text-align: justify;
  line-height: 1.4;
}

header {
  background-image: url(./images/top-banner.png);
  background-repeat: no-repeat;
  height: 100vh;
}

.orange-color {
  color: orange;
}

.init-flex {
  display: flex;
  align-items: center;
  /* gap: 32px; */
}

.half-width {
  width: 50%;
  padding-left: 5%;
}

header img {
  width: 70%;
}

.heading-title {
  letter-spacing: -2;
}

.btn {
  display: inline-block;
  text-decoration: none;
  background-image: linear-gradient(salmon,tomato);
  color: #fff;
  font-weight: bold;
  padding: 8px 24px;
  margin-right: 6px;
  margin-top: 14px;
  border: none;
  transition: .17s;
}

.btn:hover {
  padding: 12px 32px;
}

/* Project Section */
.project-container {
  display: flex;
  justify-content: space-around;
}

.projects-section {
  margin-top: 80px;
  margin-bottom: 80px;
}

.project-heading {
  font-size: 38px;
  text-align: center;
  padding-left: 5%;
  margin-bottom: 70px;
  letter-spacing: -2;
}

.project-cards {
  border-left: 7px solid;
  box-shadow: 2px 1px 5px rgb(0, 0, 0);
  border-image: linear-gradient(salmon,tomato);
  border-image-slice: 1;
  width: 275px;
  padding: 10px;
  cursor: pointer;
  transition: .17s;
}

.project-cards:hover {
  width: 290px;
}

.tools-title {
  font-weight: bold;
}

